main {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

header {
  background-image: url("https://images.immediate.co.uk/production/volatile/sites/3/2019/12/Episode_III_Revenge_Christensen07-8bbd9e4.jpg?quality=90&resize=620,413");
  height: 400px;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  color:#222 grey;
  outline: 4px solid black;
 }

section{
  font-family: 'Abril Fatface', cursive;
  font-size: 60px;
  height: 30%;
  width: 60%;
  padding-bottom: 20px;
  line-height: 1;
  color:#222 grey
}
section::first-line{
  font-size: 30px;
  color:#222 grey
}
.selection{
  font-family: 'Josefin Sans', sans-serif;
  width: 620px;
  line-height: 2;
  color:#222 grey;
  }

div {
  width: 50%;
  margin-left: 20%;
  margin-right: auto;
  line-height: 1;
}
ul{
  line-height: 2;
  color:#222 grey;
  font-family: 'Josefin Sans', sans-serif;
}
.blockquote{
  font-family: 'Abril Fatface', cursive;
  background: #444444;
  color: white;
  font-size: 50px;
  width: 800px;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  margin: auto;
  margin-top:30px;
  }

.blockquote::before {
  content: '”';
 }

.paragraph{
  font-family: 'Josefin Sans', sans-serif;
  width: 65%;
  line-height: 1.5;
}

h1{
  padding-top:20px;
  line-hight: 2;
  }

h2{
  padding-top:20px;
  padding-bottom:20px;
  }

.p{
 font-family: 'Josefin Sans', sans-serif;
 
}
.blockquotetwo{
  font-family: 'Abril Fatface', cursive;
  background: #444444;
  color: white;
  font-size: 50px;
  width: 780px;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: auto;
  height: 150px;
  padding-left: 20px;
  margin-top:40px;
  }

.blockquotetwo::before {
  content: '”';}

h3 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 0px;
}

h4 {
  font-family: 'Merriweather', serif;
  font-size: 15px;
  font-weight: 500;
  margin-top: 0px;
  font-style:italic;
}
hr {
  height: 2px;
  width: 800px;
  background: black;}
